body {
    margin: 0;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    overscroll-behavior: none; /* Prevent default scrolling */
    touch-action: none; /* Disable scrolling and zooming */
}

.heart {
    position: absolute;
    background: url('https://cdn4.iconfinder.com/data/icons/essentials-74/24/028_-_Heart-256.png');
    background-size: cover;
    pointer-events: none;
    animation: heartAnimation 3s linear forwards;
}

@keyframes heartAnimation {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100% {
        transform: translate(-50%, -5000%) scale(1);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}